@import 'text.css';

html {
  background-color: #CCC;
  font-family: 'Roboto', serif;
}

header {
  border: 1px solid #000;
  border-radius: 0.3125rem;
  height: 350px;
  margin: 0.625rem 1rem;
}

.container {
  text-align: center;
}

fieldset {
  border: 1px solid #000;
  border-radius: 0.3125rem;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0.625rem 1rem;
}

li {
  list-style-type: none;
}

