@import 'text.css';
@import 'links.css';
@import 'buttons.css';
@import 'mobile.css';

html {
  background-color: #CCC;
  font-family: 'Roboto', serif;
}

header {
  border: 1px solid #000;
  border-radius: 0.3125rem;
  height: 350px;
  margin: 0.625rem 1rem;
}

.container {
  text-align: center;
}

fieldset {
  border: 1px solid #000;
  border-radius: 0.3125rem;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0.625rem 1rem;
}

.fieldset-left-item {
  margin-right: 1rem;
}

.fieldset-left-item span {
  margin-right: 0.5rem;
}

.fieldset-right-item span {
  margin-right: 0.5rem;
}

.weather-list-container {
  border: 1px solid #000;
  border-radius: 0.3125rem;
  margin: 0.625rem 1rem;
  padding: 0 1rem;
}

.weather-card {
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0.3125rem;
  /*margin: 0.625rem 1rem;*/
  margin: 1rem 0;
}

li {
  list-style-type: none;
}

