button {
  background-color:rgb(23, 23, 210);
  border: none;
  border-radius: 0;
  color: #FFF;
  padding: 0.5rem;
  text-transform: uppercase;
}

button:hover {
  background-color:rgb(136, 135, 209);
  cursor: pointer;
}

#get-weather-button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.unstyled-button {
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  color: inherit;
  padding: 0;
}

.unstyled-button:hover {
  background-color: inherit;
}

.clear-city-icon {
  margin-left: 0.5rem;
}

.hide-sunrise-sunset-button {
 background-color: inherit;
}

.hide-sunrise-sunset-button:hover {
  background-color: inherit;
}

#get-sunrise-sunset-button {
  margin-right: 1.5rem;
}
