@media screen and (max-width: 700px) {
  .fieldset-left-item, .fieldset-right-item {
    display: block;
  }

  .fieldset-left-item {
    margin-bottom: 1rem;
  }

  .wu-logo-container img {
    max-width: 70%;
  }

  .wu-logo-caption-text {
    font-size: 0.75rem;
  }

  .clear-city-icon img {
    height: 2rem;
    margin-top: 1rem;
  }

  .hide-sunrise-sunset-button img {
    height: 2rem;
  }
}
